:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    text-align: center;
}

.main_div {
    margin-top: 100px;
}

.main {
    padding-top: 10px;
    margin: auto;
}

.show-div {
    background: var(--second-bg-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    width: 250px;
    margin: auto;
    padding: 5px;
}

h1 {
    font-size: 50px;
}

.input-show {
    width: 99%;
    height: 80px;
    color: var(--main-color);
    font-size: 40px;
    background: var(--second-bg-color);
    border: 2px solid var(--second-bg-color);
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-ac {
    width: 100px;
    border-radius: 23px;
    margin: 5px;
    font-size: 25px;
    background: lightgray;
    border: 2px solid lightgray;
    font-size: 22px;
    transition: .5s;
}

.gry {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    font-size: 25px;
    background: lightgray;
    border: 2px solid lightgray;
    font-size: 22px;
    transition: .5s;
}

.gry:hover,
.btn-ac:hover {
    background: var(--second-bg-color);
    color: lightgray;
}

.btn-bg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    font-size: 25px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    color: var(--text-color);
    transition: .5s;
}

.btn-bg:hover {
    background: var(--main-color);
}

.btn-orang {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    font-size: 30px;
    background: orange;
    border: 2px solid orange;
    transition: .5s;
}

.btn-orang:hover {
    background: var(--second-bg-color);
    color: orange;
}

.btn-is {
    width: 100px;
    border-radius: 23px;
    margin: 5px;
    font-size: 30px;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    font-size: 22px;
    transition: .5s;
}

.btn-is:hover {
    background: var(--second-bg-color);
    color: var(--main-color);
}